/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
    font-family: sans-serif;
}

/* COMMON */
/* Typography */


/* Utilities */
.mb-10 {
    margin-bottom: 10px;
}

/* LAYOUT */
.container: {
    width: 80%;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: white;
}

#logo {
    margin: 10px 10px 15px 15px;
    display: inline-block;
    vertical-align: middle;
}

.title {
    display: inline-block;
    margin: 10px 10px 15px 15px;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bolder;
}

/* MAIN */