/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
    font-family: sans-serif;
    font-size: 18px;
}

/* COMMON */
/* Typography */


/* Utilities */
.mb-10 {
    margin-bottom: 10px;
}

h2{
    font-size: larger;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

ul {
    list-style-position:inside;
    list-style-type: none;
    padding-left: 20px;
    }

li {
    padding: 10px 0px 10px 5px;
    white-space: nowrap;
}



/* LAYOUT */
.container: {
    width: 80%;
    margin: 0 auto;
   }

    
    


/* HEADER */

header {
    background-color: white;
}

#logo {
    margin: 10px 10px 15px 15px;
    display: inline-block;
    vertical-align: middle;
}

.title {
    display: inline-block;
    margin: 10px 10px 15px 0px;
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    font-weight: bolder;
    color: #00005f;
}

/* MAIN */

main {
    margin: 40px 250px 10px 250px;
}
.menu-section {
    background-color: white;
    border-bottom: #d3d3d3 solid 3px;
}

.first-button {
 border: none;
 background-color: aqua;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0px 5px 20px;
  border-radius: 5px;
}

.second-button {
    border:#d3d3d3 solid 1px;
 background-color: #ffffff;
  color: lightgray;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0px 5px 5px;
  border-radius: 5px;
}

.circle-green {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: white;
    border: 1px solid greenyellow;
    border-radius: 50%;
}

.circle-red {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: white;
    border: 1px solid #ff2f2f;
    border-radius: 50%;

}

.yes {
    color: greenyellow;
    padding-left: 2px;
    display: inline-block;
    font-size: 10px;

}

.no {
    color: #ff2f2f;
    padding-left: 2px;
    display: inline-block;
    font-size: 10px;

}
